@use './app/styles/base/_typography' as *;
@use './app/styles/base/_variables' as *;
@use './app/styles/utils/_mixins' as *;
@use './app/styles/utils/_functions' as *;

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  border: 2px solid $quinary-color;
  padding: 5rem 1rem 2rem 1rem;
  position: relative;
  background-color: $denary-color;
}